<!DOCTYPE html>
<html ng-app="userApp"><html>
  <% include partials/nav.ejs %>  
  <body ng-controller="userCtrl">
    <div class="container-fluid" ng-init="getUsers()">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">         
          <h1 class="page-header">AAMC Users - Dashboard</h1>          
          <div class="col-sm-12">
            Hello welcome to the applicant's directory.  You can search below.
          </div>
          <br><br>           
           <div class="col-md-12">   

            <div class="col-md-2 form-group">
              <h4> Prefix / Suffix Name </h4>
              <p>
                <b>Service Name:</b> {{serviceName}}
              </p>
            </div>

            <div class="col-md-5 form-group">
              <h4>Select a user</h4>
              <label for="users"> Users: </label>
              <select ng-options="user.name for user in users | orderBy :selectedOption" name="userSelect" id="users" ng-model="selectedUser">
                <option value="">-- select a user --</option>
              </select>
              <span><b>User</b>: {{selectedUser.name}}</span>
            </div>
            
            <div class="col-md-5 form-group">
              <h4>Select a sortable option</h4>
              <label for="options"> Options: </label>
              <select ng-options="option for option in userOptions" name="userOption" id="options" ng-model="selectedOption">
                <option value="">-- select an option --</option>
              </select>
              <span><b>Option</b>: {{selectedOption}}</span>
            </div>

            <!-- Display the option selected value *** NOT USED/WORKING *** -->
            <!-- <div class="col-md-4 form-group">
              <h4>Select a user</h4>
              <label for="users"> Users: </label>
              <select ng-options="user.name for user in users | orderBy :selectedOption" name="userSelect" id="users" ng-model="selectedUser">
                <option value="">-- select a user --</option>
              </select>
              <span><b>User</b>: {{selectedUser.name}}</span>
            </div> -->

            <div class="col-md-12 form-group">
              <input ng-model="query" type="text" class="form-control" id="userSearch" placeholder="Search..." autofocus>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th ng-repeat="option in userOptions">{{option | capitalize}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in users | filter:query | orderBy :selectedOption">
                  <td>{{ user.id }}</td>
                  <td>
                    <p>
                      <a href="/user/{{user.id}}">{{ user.name }}</a>
                    </p> 
                    <p>
                      <span>
                        <button type="button" ng-click="userPrefix(user.name)" class="btn btn-primary">Prefix</button> 
                      </span>
                      <span>
                        <button type="button" ng-click="userSuffix(user.name)" class="btn btn-primary">Suffix</button> 
                      </span>
                    </p>
                  </td>
                  <td>{{ user.username }}</td>
                  <td><a href="mailto:{{user.email}}?Subject={{user.company.catchPhrase}}" target="_top">{{ user.email | lowercase}}</td>
                  <td> 
                    <p ng-repeat="(k,v) in user.address"> {{k | capitalize}}: {{v}} </p> 
                  </td>
                  <td>{{ user.phone }}</td>
                  <td><a href="//{{user.website}}" target="_blank">{{ user.website }}</a></td>
                  <td>
                    <p ng-repeat="(k,v) in user.company"> {{k | capitalize}}: {{v}} </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <h4>Users who are at Company: Deckow-Crist</h4>
            <li ng-repeat="user in users | hasCompany">{{user.name}} | {{user.company.name}}</li>
          </div>
        </div>
      </div>
    </div>
   </body>
   <% include partials/javascripts.ejs %>  
</html>