<!DOCTYPE html>
<html ng-app="userApp"><html>
  <% include partials/nav.ejs %>  
  <body ng-controller="userCtrl">
    <div class="container-fluid" ng-init="getUsers()">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
          
          <h1 class="page-header">AAMC Users - Dashboard</h1>
          
          <div class="col-sm-12">
            Hello welcome to your directory.  You can search below.
          </div>
          <br><br>
              
              <label for="users"> Users: </label>
              <select ng-options="user.name for user in users | orderBy :selectedOption" name="userSelect" id="users" ng-model="selectedUser">
                <option value="{{user}}"></option>
              </select>

              <label for="options"> Options: </label>
              <select ng-options="option for option in userOptions" name="userOption" id="options" ng-model="selectedOption">
                <option value="{{option}}"></option>
              </select>
              
          <form class="col-md-12 form-group input-group-lg">
            <input ng-model="query" type="text" class="form-control" placeholder="Search..." autofocus>
          </form>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th ng-repeat="option in userOptions">{{option | capitalize}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in users | filter:query | orderBy :selectedOption">
                  <td>{{ user.id }}</td>
                  <td><a href="/user/{{user.id}}">{{ user.name }}</a></td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email | lowercase}}</td>
                  <td> 
                    <p ng-repeat="(k,v) in user.address"> {{k | capitalize}}: {{v}} </p> 
                  </td>
                  <td>{{ user.phone }}</td>
                  <td><a href="//{{user.website}}" target="_blank">{{ user.website }}</a></td>
                  <td>
                    <p ng-repeat="(k,v) in user.company"> {{k | capitalize}}: {{v}} </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

   </body>
   <% include partials/javascripts.ejs %>  
</html>